@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: "";
}

.text-element {
  opacity: 0.5; 
  transition: opacity 0.3s ease
}

.text-element:hover {
  opacity: 1; 
}

.gradient-text {
  background: linear-gradient(to bottom,  white, #6E6AF6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.gradient-back {
  background: linear-gradient(to bottom, white, #6E6AF6)
}
